<style>
    .alert {
        position: fixed;
        top: 5%;
        right: 10px;
        z-index: 9999;
        width: 400px;
        margin: 10px;
    }
</style>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category }} alert-dismissible fade show" role="alert">
    {% if category == 'success' %}
    <strong>
        <i class="fas fa-check-circle"></i>
    </strong>
    {% elif category == 'danger' %}
    <strong>
        <i class="fas fa-exclamation-triangle"></i>
    </strong>
    {% endif %}
    <strong>{{message|safe}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<script>
    var alertList = document.querySelectorAll('.alert');
    alertList.forEach(function (alert) {
        new bootstrap.Alert(alert)
    })
</script>

{% endwith %}